:root {
    --white: #fff;
    --light: #2C74B3;
    --second: #205295;
    --semi: #144272;
    --dark: #0A2647;
}

.logo{
    border-radius: 50%;
}

.card-image {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.piece {
    box-shadow: -2px 2px 9px 0px rgba(0, 0, 0, 0.15);
}

.food-name {
    font-weight: 400;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.food-price {
    font-weight: bold;
    font-size: 19px;
}

.judul {
    margin-bottom: 2%;
}

.food-rating {
    display: flex;
    align-items: center;
    gap: 1px;
}

.food-rating>span {
    font-weight: 300;
    font-size: 15px;
    color: rgb(136, 134, 134);
}

.orderingPage {
    display: flex;
}

.rightPage {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5%;
    transition: .3s;
    display: flex;
    justify-content: center;
}

.unvisible {
    position: absolute;
    z-index: -1;
    width: 100vw;
    background: rgba(255, 255, 255, 1.0);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(1, 1, 1, 1.0));
    height: 100vh;
}

.maincomp {
    display: flex;
}

.notif {
    background-color: var(--white);
    padding: 10px 20px;
    text-align: center;
    z-index: 9;
    height: inherit;
    transition: .3s;
    border: 2px solid var(--light);
    border-radius: 40px;
    filter: drop-shadow(-3px 3px 18px rgba(0, 0, 0, 0.15));
}

.notif_mess {
    font-weight: 400;
    text-transform: capitalize;
}

.prepare {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    padding: 4% 0;
    color: var(--second);
    font-weight: 600;
    text-transform: capitalize;
}

.listContainer {
    margin-top: 2%;
    box-shadow: -1px 1px 9px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    height: auto;
    height: 80px;
}

.listContainer>img {
    object-fit: cover;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.listData {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}

.list_holder {
    flex-grow: 3;
    overflow-y: auto;
    border-radius: 14px;
}

.adjust {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
    padding-right: 10px;
    gap: 5%;
}

.item_nama {
    font-weight: 400;
    font-size: 14px;
}

.item_harga {
    font-weight: bold;
    font-size: 14px;
}

.item_waktu {
    font-weight: 100;
    font-size: 14px;
    color: var(--dark);
}

.bottom_menu {
    align-items: flex-end;
    flex-grow: 1;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.sumPrice {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.bottom_menu>button {
    width: 100%;
    border: none;
    color: white;
    padding: 10px 0;
    border-radius: 42px;
    background-color: var(--light);
}
/* Footer */

.footer {
    margin-top: 10%;
    padding: 2%;
    background-color: rgb(239, 239, 239);
    color: var(--dark);
}
.information > img {
    margin-right: 5px;
}
.social-media {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    gap: 15px;
}
.icon {
    border: 1px solid var(--dark);
    border-radius: 4px;
    padding: 5px;
}
.nd {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.kantor {
    display: flex;
    flex-direction: row;
}
.kantor > img {
    margin-right: 5px;
}
.rejected {
    font-size: 13px;
    text-align: left;
    color: red;
}